<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/posts.css">
    <title>Posts</title>
</head>
<body> 
    
    <%- include('./partials/header.ejs') %> 
        <div class="vertical"> 
            <div class="container"> 
     
                <% if (posts.length > 0) { %> 
                    <% posts.forEach(post => { %> 
                    <a href="/singlepost/<%= post.id %>">
                        <div class="singlepost"> 
                            <h3 class="title">
                                <img src="profile.png" alt="Profsile" /> 
                                <span> <%= post.time %> </span> 
                            </h3> 
                            <div>
                                <p class="comment"> <%= post.comment %> </p>
                                <div class= like >
                                    <form action="/" method="POST" >
                                        <input type="hidden" name="id" value="<%= post.id %>" required>
                                        <input type="hidden" name="likes" value="<%= post.likes %>" required>
                                        <button></button> 
                                    </form> 
                                    <span> <%= post.likes %> </span>
                                </div>
                            </div> 
                        </div>
                    </a> 
                    <% }) %> 
                <% } else { %> 
                    <p>You did not post anything.</p> 
                    <% } %> 
            </div>                
<<<<<<< HEAD
            <%- include('./partials/footer.ejs') %> 
        </div> 
=======
        </div>
>>>>>>> e0ca023e595de89b2c0ab75fc26378bf45cf2f68
     
    
</body>
</html>