<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/singlepost.css">
    <title>Single post</title>
    <%- include('./partials/header.ejs') %> 
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <div class="singlepost" > 
        <div>
            <p class="comment"> <%= posts.comment %> </p>
            <img class = "pic" src="/profile.png" alt="Profile" />
            <div>
                <img class="like" src="/like.png" />
                <p class="likes"><%= posts.likes %> </p>
            </div>
            
            <form method="POST" action="/<%= posts.id %>?_method=DELETE">
                <input type="hidden" name="_method" value="delete">
               <button type="submit">
                <a class="btn-floating btn-small waves-effect waves-light red">
                    <i>Delete</i></a>
               </button> 
            </form>
        </div> 
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>